<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="See where and when your friends are">
    <meta name="author" content="Kay Mok">
    <%#= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>Friendzone</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <nav class="navbar sticky-top navbar-light bg-light">
    <% else %>
      <nav class="navbar sticky-top navbar-dark" style="background-color: black">
    <% end %>
        <a class="navbar-brand" href="/me"><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i> Friendzone</a>
        <% if current_user %>
          <h4 style="margin-left: -7%"><%= get_current_local_time(current_user.time_zone).strftime('%l:%M %p') %></h4>
          <a class="navbar-brand" href="/logout" onclick="return confirm('Are you sure?')"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a>
        <% else %>
          <img class="foursquare-logo" src="<%= asset_path 'Powered-by-Foursquare-one-color-300.png' %>">
        <% end %>
      </nav>
      <%= yield %>
  </body>
</html>
